* {
     box-sizing: border-box;
}

.container {
     background-color: rgb(100, 85, 85);
     height: 100vh;
}


.box {
     border: 2px solid;
     height: auto;
     width: 50%;
     padding: 25px;
     float: left;
     background-color: white;
     min-height: 50%;
     text-align: center;
}